@import '../../styles/color';
@import '../../styles/responsive';

.expiryDateError {
  color: $error;
  font-size: 12px;
  float: left;
}

.filterContainer {
  position: relative;
  margin-bottom: 20px;
}

.filterButton {
  min-width: 152px !important;
  margin-top: 20px;
}

.errorFilter {
  color: $error;
  margin-top: 10px;
}

.filterWrapper {
  min-height: 75px;
  padding-top: 18px;
}

.actionButtons {
  margin-top: 23px;
  position: absolute;
  right: 0;
  width: 140px;
}

.deleteFilterMain {
  margin-left: 8px;
  position: absolute;
  margin-top: 2px;
}

.filterSelector {
  width: 200px;
  flex-basis: 200px;
  max-width: 200px;
}

.filterInputWrapper {
  width: calc(100% - 200px);
  flex-basis: calc(100% - 200px);
  max-width: calc(100% - 200px);
  padding-right: 2rem;
}

.filterActionClass {
  padding-right: 160px;
}

.filterInput {
  box-shadow: 0 0 2px rgba(0,0,0,.35);
  position: relative;
}

.datePickerWrapContent > div {
  width: 100% !important;
}

.selectedChipWrapper {
  margin-top: 20px;
}

.selectedChipHead {
  font-weight: 500;
  font-size: 14px;
}

.selectedChipVal {
  font-size: 14px;
  font-weight: 300;
  display: block;
}

.chipClass {
  float: left;
  margin-right: 12px !important;
  margin-bottom: 12px !important;
  border-radius: 8px !important;

  & > span {
    white-space: normal !important;
    word-wrap: break-word !important;
    max-width: 200px !important;
  }
}

.btnIcon {
  position: absolute !important;
  right: 0;
  top: 6px;
  color: $white;
}

.tooltipStyle {
  background-color: $navy !important;
  font-size: 11px !important;
  font-weight: 400;
  opacity: 1 !important;
  padding: 8px 10px !important;

  &:after{
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    margin-left: -6px !important;
  }
}

@media (max-width: $breakpointLarge) {

  .filterInputWrapper, .filterSelector, .actionButtons {
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .filterInputWrapper {
    padding-right: 1rem;
  }

  .filterActionClass {
    padding-right:0;
  }

  .filterInput {
    margin: 20px 0 0 0;
    padding-bottom: 20px;
  }

  .actionButtons {
    position: relative;
    padding: 0 1rem;
  }
}

