

.tabContainer {
    min-height: 200px;
    width: 70%;
    padding: 0 16px;
    margin-right: 10px;

    ul.tabOptions {
        display: inline-block;
        list-style: none;
        padding: 0 0 20px 0;

        > li {
            border-bottom: 2px solid grey;
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding: 0px 24px 0px 16px;
            min-width: 150px;

            &.active, &.active:hover {
                border-bottom: 2px solid orange;
                > span {
                    color: blue;
                }
            }

            &:hover {
                border-bottom: 2px solid #ccc;
            }

            > span {
                color: grey;
                cursor: pointer;
                font-size: 400;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                width: 100%;
            }

            .iconStyle {
                margin: 0 12px 0 10px;

                > i {
                    color: grey;
                    font-size: 20px;
                }
            }
        }
    }

    > span {
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 0 8px;

        > i {
            color: grey;
        }

        &:hover, i:hover {
            color: blue;
        }
    }
}

.searchResultWrapper {
    width: 100%;

    .searchResults {
        margin: 0;
        padding: 0;

        .snapshot {
            width: 90%;
            display: inline-block;
        }

        li {
            display: flex;
            list-style-type: none;
            border-bottom: 1px solid lightgrey;
            margin-right: 20px;
            margin-left: 20px;
            padding-bottom: 5px;
            padding-top: 5px;
        }
    }
}
