@import '../../styles/color';

.tabContainer {
    min-height: 200px;
    width: 70%;
    padding: 0 2rem;
    margin-right: 10px;
    margin-top: 100px;

    ul.tabOptions {
        display: block;
        list-style: none;
        padding: 0;
        border-bottom: 1px solid rgba(0,0,0,.15);
        margin: 0 0 30px 0;

        > li {
            cursor: pointer;
            display: inline-block;
            position: relative;
            padding: 0px 24px 0px 16px;

            &.active, &.active:hover {
                cursor: default;
                > button {
                    cursor: default;
                    color: $bluedark400;
                    &:after {
                        background-color: $bluedark400;
                        bottom: 0;
                        content: '';
                        height: 4px;
                        left: 0;
                        position: absolute;
                        width: 100%;
                    }
                }
            }

            > button {
                cursor: pointer;
                font-weight: 500;
                line-height: 20px;
                color: rgba(0,0,0,.55);
                margin: 0;
                padding: 12px 8px;
                text-align: center;
                text-transform: capitalize;
                font-size: 17px;

                &:after {
                    content: '';
                    width: 0;
                    height: 2px;
                    background-color: transparent;
                    margin: auto;
                    display: block;
                    transition: all .2s ease;
                    bottom: 0;
                    left: 50%;
                    position: absolute;
                }
            }

            &:first-child {
                padding-left: 0;
            }

            .iconStyle {
                margin: 0 12px 0 10px;

                > i {
                    color: grey;
                    font-size: 20px;
                }
            }
        }
    }

    > span {
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        padding: 0 8px;

        > i {
            color: grey;
        }

        &:hover, i:hover {
            color: blue;
        }
    }
}

.searchResultWrapper {
    width: 100%;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px rgba(0,0,0,.2);
    border-radius: 2px;
    background: $white;
    margin: 0 1rem;

    .searchResults {
        margin: 0;
        padding: 0;

        .searchResultImageWrapper {
            margin: 12px 0 12px 0;
            figure {
                width: 56px;
                height: 56px;
                background-clip: content-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-transform: translateZ(0);
                transform: translateZ(0);
                box-sizing: border-box;
                z-index: 0;
                overflow: hidden;
                justify-content: center;
                align-items: center;
                padding: 0;
                margin: 8px 20px 0;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .searchResultInfo {
            flex: 1;
            min-width: 0;
            position: relative;
            border-top: 1px solid rgba(0,0,0,.15);
            padding-top: 12px;
            padding-right: 24px;
            padding-bottom: 16px;
            h3 {
                color: #0084bf;
                font-size: 17px;
                font-weight: 700;
            }
            p {
                font-weight: 400;
                color: rgba(0,0,0,.85);
                font-size: 15px;
            }
            p.searchResultRegion {
                font-weight: 400;
                font-size: 13px;
            }
        }

        .snapshot {
            width: 90%;
            display: inline-block;
        }

        li {
            display: flex;
            list-style-type: none;
            padding: 0;
            margin: 0;
            cursor: pointer;
            &:first-child {
                .searchResultInfo {
                    border-top: 0;
                }
            }
            &:focus {
                outline: none;
            }
        }
    }
}
