// NOTE: All colours used in website are listed here

$bodyBackground: #f3f3f4;

$lightBlueHeading: #1e88e5;

$btnColor: #4f81e9;
$white: #ffffff;
$black: #000000;
$googleBtnBg: #1ab394;

$black100: #a1a1a1;
$black300: #6d6e7d;

$grey: #666666;
$grey100: #e0e0e0;
$grey200: #dedede;
$grey300: #F5F5F5;
$grey400: #bdbdbd;
$grey500: #9e9e9e;
$grey600: #eeeeee;
$grey700: #616161;
$grey800: #757575;
$grey900: #212121;
$greyDark: #999999;
$greyDark100: #a7a7a7;
$greyDark200: #373b41;
$greyDark300: #acacac;
$greyDark400: #585d65;
$greyDark500: #999c9e;

$greyLight: #808080;
$greyLight100: #f1f1f1;
$greyLight200: #c0cdc8;
$greyLight300: #a9a9a9;
$greyLight400: #6e7174;
$greyHard: #cccccc;

$blue100: #f1f5fc;
$blue200: #c7e7e9;
$blue300: #bedbd7;
$blue400: #42a5f5;
$blue700: #266d90;
$blueLight: #f4fafa;
$bluegrey: #4e6773;
$bluedark100: #00a6ff;
$bluedark200: #1f8dd5;
$bluedark300: #2a7dc0;
$bluedark700: #1b8cd6;

$red400: #ef5350;

$error: #f44336;
$success: #4CAF50;

$navy:#242c33;
