$fontSizeNormal: 15px;
$fontSizeSmall: 12px;
$fontSizeMedium: 16px;
$fontSizeLarge: 24px;
$fontSizeVeryLarge: 44px;

$lineHeightNormal: 20px;

$fontWeightLight: 300;
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$loginLogHeight: 67px;
$searchBarHeight: 50px;
