@import '../../styles/responsive';

$indicatorHeight: 50px;
$indicatorWidth: 50px;

.container {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.background {
    background-color: #fff;
    height: 100%;
    opacity: 0.8;
    width: 100%;
    z-index: 1;
}

.indicator {
    height: $indicatorHeight;
    left: calc(50% - #{$indicatorWidth/2});
    position: absolute;
    top: calc(50% - #{$indicatorHeight/2});
    width: $indicatorWidth;
    z-index: 2;
}

@media (max-width: $breakpointLarge) {
  .indicator {
    top : 20px ;
  }
}
