@import '../../styles/color';
@import '../../styles/typography';

.searchBar {
    background-color: grey;
    border-radius: 3px;
    color: $white;
    font-size: 14px;
    margin-top: 16px;
    width: 80%;
    top: 120px;
    left: 10%;
    position: absolute;
    height: $searchBarHeight;

    .inputWrapper {
        padding-right: 60px;
        float: left;
        width: 100%;
        height: 100%;
        input {
            padding-left: 16px;
            width: 100%;
            height: 100%;
            font-size: 18px;
        }
    }
    .button {
        right: 0;
        position: absolute;
        padding: 0 18px;
        cursor: pointer;
        height: 100%;
        i {
            position: relative;
            color: $white;
            top: 1px;
        }
    }
}

.searchResultWrapper {
    background: $white;
    color: grey;
    width: 100%;
    position: absolute;
    top: 54px;
    border-radius: 4px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: -1px 2px 21px 0 rgba(143,139,167,.27);
    z-index: 1;

    .searchThumbVertical {
        background: red;
        border: none;
        margin-left: -6px;
    }
}

.searchResults {
    list-style-type: none;
    padding: 0;
    margin: 0;
    & > li {
        cursor: pointer;
        padding: 8px 0 0 45px;
        position: relative;

        &:active {
            outline: none;
        }

        img {
            position: absolute;
            max-width: 30px;
            left: 8px;
            top: 16px;
            border-radius: 50%;
        }
        div {
            border-bottom: 1px solid $greyLight500;
            padding-bottom: 8px;
            padding-right: 20px;
            h3 {
                font-size: 18px;
                font-weight: 500;
                color: rgba(0,0,0,.85);
                text-transform: capitalize;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
            p {
                font-size: 16px;
                color: $greyLight;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }

        &:last-child {
            div {
                border-bottom: 0;
            }
        }
    }
}

.hideResult {
    display: none !important;
}

.filterApplied {
    margin-left: 5px;
    visibility: visible;
}

.notApplied {
    width: 0;
    visibility: hidden;
}

.disableMouseEvent {
    cursor: not-allowed !important;
}
