@import '../../styles/color';
@import '../../styles/responsive';

.devicePairContentClass {
  max-width: 370px !important;
}

.devicePairBody {
  position: relative;
  padding: 8px 40px 44px!important;
}

.dialogHeaderStyle {
  padding: 24px 24px 20px 38px !important;
  font-size: 20px !important;
}

.itemKeyword {
  color: rgba(0, 0, 0, 0.87);
}

.failure {
  color: $error;
}

.success {
  color: $success;
}

.messageToShowResponse {
  margin: -8px 0 14px 0;
}

.pairButton {
  margin: 0 16px 0 24px;
  position: relative;
  top: -5px;
}

.publicVideoSpan {
  word-wrap: break-word;
  color: #4988bb;
  font-weight: 400;
  margin-top: 8px;
}

.tooltipStyle {
  background-color: $navy !important;
  font-size: 11px !important;
  font-weight: 400;
  opacity: 1 !important;
  padding: 8px 10px !important;
  z-index: 1501;

  &:after{
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
    margin-left: -6px !important;
  }
}

@media (max-width: $breakpointLarge) {
  .contentClass {
    width: 90% !important;
  }
}

@media (max-width: $breakpointSmall) {
  .button {
      min-width: 100% !important;
      margin-left: 0 !important;
      margin-bottom: 20px;
  }
}

