@import '../../styles/color';

.srpWrapper{
    display: flex;

    .searchPosition {
        top: 0;
        width: 100%;
        left: 0;
        background: $white;
        border: 1px solid rgba(0,0,0,.15);
        button {
            i {
                color: #4c4c4c;
            }
        }
        input {
            color: rgba(0,0,0,.85);
        }

    }
}

.noResultWrapper {
    padding: 15px;
}
