@import '../../styles/color';

.srpWrapper{
    display: flex;

    .searchPosition {
        top: 0;
        width: 92%;
        left: 2rem;
        button {
            i {
                color: #4c4c4c;
            }
        }
        input {
            color: rgba(0,0,0,.85);
        }

    }
}

.noResultWrapper {
    padding: 15px;
}
