@import '../../../styles/responsive';

.buttonsDiv {
    margin: 0 auto;
    padding: 10px 0;
    max-width: 400px;
    &:after {
        content: ".";
        visibility: hidden;
        display: block;
        height: 0;
        clear: both;
    }
}

.previousBtn {
    float:left;
}

.nextBtn {
    float:right;
}

@media (max-width: $breakpointSmall) {
  .previousBtn {
    width: 100%;
    margin-bottom: 15px;
  }

  .nextBtn {
    width: 100%;
    float:left;
  }
}
